/*Pairing 1*/
/*replace Roboto*/font-family: 'Libre Baskerville', serif;
/*replace Cabin*/font-family: 'Source Sans Pro', sans-serif;
/*Pairing 2*/
/*replace Playfair*/font-family: 'Montserrat', sans-serif;
/*replace Source Sans*/font-family: 'Courier Prime', monospace; 
/*Pairing 3*/
/*replace Avro*/font-family: 'Nova Mono', monospace;
/*Keep*/font-family: 'Lato', sans-serif;

console.log(typeof $);
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  height: 100vh;
}

.hero-content {
  width: 50%;
  text-align: center;
  color: #fff;
  background-color: #898b8c; opacity:0.8;
  border-radius: 45px;
  
}

p {
  font-weight: 200;
  font-size: 18px;
  line-height: 30px;
}

a {
  margin-top: 0;
  margin-right:10px;
  margin-bottom: 10px;
  background-color: rgb(0, 0, 0, 0.6);
  padding: 10px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

nav {
  width: 100%;
  text-align: center;
  padding: 20px;
  position: fixed;
  top: 0;
  background-color: #898b8c; opacity:0.9;
  z-index: 10;
}

span .font-pair1a{
  font-family: 'Libre Baskerville', serif;
}

span .font-pair1b{
  font-family: 'Source Sans Pro', sans-serif;
}


/* add your css below this line */

.hero-background {
  background: url("https://images.pexels.com/photos/6045344/pexels-photo-6045344.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500") no-repeat fixed center;
  background-size: cover;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-section-background {
  background: url("https://images.pexels.com/photos/1560102/pexels-photo-1560102.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500") no-repeat fixed bottom;
}

.second-section-background {
  background: url("https://images.pexels.com/photos/1060803/pexels-photo-1060803.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500") no-repeat fixed bottom;
}

.third-section-background {
  background: url("https://images.pexels.com/photos/7718574/pexels-photo-7718574.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500") no-repeat fixed bottom;
}

.with-background {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 50px 0;
}

h1 {
  font-size: 60px;
  line-height: 65px;
  font-weight: 400;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}

h2 {
  font-size: 35px;
  font-weight: 200;
  line-height: 40px;
}

h3 {
  font-size: 55px;
  font-weight: 200;
  line-height: 60px;
  margin: 0;
}

.number {
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  color: #425a70;
  text-align: center;
  top: -25px;
  right: -25px;
  font-weight: 30px;
  line-height: 50px;
}

article {
  max-width: 50%;
  margin: 20px auto;
  padding: 50px;
}

.first-article-container, .second-article-container, .third-article-container  {
  position: relative;
}

.first-article-container {
  background-color: #f7a831;
}

.second-article-container {
  background-color: #c90630;
}

.third-article-container {
  background-color: #e8c3e3;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #425a70;
}
